.vicunav-header__logo {
	aspect-ratio: 554 / 113;
	flex: 0 0 auto;
	width: var(--wp--custom--header--logo-width);
}

.vicunav-header__logo img {
	display: block;
	height: auto;
	width: 100% !important;
}

.vicunav-header__logo a {
	display: block;
	height: 100%;
	line-height: 0;
}

.vicunav-header__navigation .wp-block-polylang-navigation-language-switcher .wp-block-navigation-item__content {
	align-items: center;
	border-bottom: 1px solid currentColor;
	display: inline-flex;
	gap: var(--wp--preset--spacing--20);
	padding-bottom: var(--wp--preset--spacing--10);
}

@media (max-width: 600px) {
	.vicunav-header__logo {
		width: var(--wp--custom--header--logo-width-mobile);
	}

	.vicunav-header__navigation .wp-block-navigation__responsive-container-open {
		align-items: center;
		display: inline-flex;
		gap: var(--wp--preset--spacing--20);
	}

	.vicunav-header__navigation .wp-block-navigation__responsive-container-open::after {
		content: "MENU";
		font-size: var(--wp--preset--font-size--eyebrow);
	}

	.vicunav-header__navigation .wp-block-navigation__responsive-container-content {
		padding-right: var(--wp--preset--spacing--site-gutter);
	}

	.vicunav-header__navigation .wp-block-navigation__responsive-container-close {
		right: var(--wp--preset--spacing--site-gutter);
		top: var(--wp--preset--spacing--site-gutter);
	}
}
