<!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull">
	<!-- wp:template-part {"slug":"header","area":"header"} /-->

	<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
	<main class="wp-block-group alignfull">
		<!-- wp:pattern {"slug":"vicunav/hero"} /-->
		<!-- wp:pattern {"slug":"vicunav/situaciones"} /-->
		<!-- wp:pattern {"slug":"vicunav/como-ayudamos-intro"} /-->
		<!-- wp:pattern {"slug":"vicunav/como-ayudamos"} /-->
		<!-- wp:pattern {"slug":"vicunav/testimonio-destacado"} /-->
		<!-- wp:pattern {"slug":"vicunav/resultados"} /-->
		<!-- wp:pattern {"slug":"vicunav/deberia-sentirse-como-tu"} /-->
		<!-- wp:pattern {"slug":"vicunav/conoce-a-mario"} /-->
	</main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
</div>
<!-- /wp:group -->
