<!-- wp:group {"templateLock":"all","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull">
	<!-- wp:template-part {"slug":"header-en","area":"header"} /-->

	<!-- wp:group {"templateLock":"all","tagName":"main","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
	<main class="wp-block-group alignfull">
		<!-- wp:pattern {"slug":"vicunav/servicios-hero-en"} /-->
		<!-- wp:pattern {"slug":"vicunav/servicios-paquete-esencial-en"} /-->
		<!-- wp:pattern {"slug":"vicunav/servicios-paquete-completo-en"} /-->
		<!-- wp:pattern {"slug":"vicunav/servicios-beneficios-en"} /-->
		<!-- wp:pattern {"slug":"vicunav/servicios-proceso-en"} /-->
		<!-- wp:pattern {"slug":"vicunav/servicios-mantenimiento-en"} /-->
		<!-- wp:pattern {"slug":"vicunav/servicios-adicionales-en"} /-->
		<!-- wp:pattern {"slug":"vicunav/servicios-faq-en"} /-->
		<!-- wp:pattern {"slug":"vicunav/servicios-cta-en"} /-->
	</main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer-en","area":"footer"} /-->
</div>
<!-- /wp:group -->
