<!-- wp:group {"templateLock":"all","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull">
	<!-- wp:template-part {"slug":"header","area":"header"} /-->

	<!-- wp:group {"templateLock":"all","tagName":"main","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
	<main class="wp-block-group alignfull">
		<!-- wp:pattern {"slug":"vicunav/servicios-hero"} /-->
		<!-- wp:pattern {"slug":"vicunav/servicios-paquete-esencial"} /-->
		<!-- wp:pattern {"slug":"vicunav/servicios-paquete-completo"} /-->
		<!-- wp:pattern {"slug":"vicunav/servicios-beneficios"} /-->
		<!-- wp:pattern {"slug":"vicunav/servicios-proceso"} /-->
		<!-- wp:pattern {"slug":"vicunav/servicios-mantenimiento"} /-->
		<!-- wp:pattern {"slug":"vicunav/servicios-adicionales"} /-->
		<!-- wp:pattern {"slug":"vicunav/servicios-faq"} /-->
		<!-- wp:pattern {"slug":"vicunav/servicios-cta"} /-->
	</main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
</div>
<!-- /wp:group -->
